
@font-face{
font-family: Krub;
src: url(../fonts/Krub.ttf);
}

.logo{
    background-color: #F7C8D2;
}

body{
background-color: #C0E1F8;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #F7C8D2;
  font-family: Krub;
}

li {
  display: inline;
  /*border-right: 1px solid #bbb;*/
}

li a {
  /*displays a block when you hover over the navigation bar;*/
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Krub;
  font-size: 20px;
}

li a:hover {
  /*turns light pink when you hover*/
  background-color: #FDE6EC;
  color: #000000;
}

h1{
  background-color: #C0E1F8;
  font-size: 70px;
  font-family: Krub;
  color: #FEFEFE;
  /*text-shadow: 2px 2px #000000;*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  margin-top:5px;
  margin-bottom:5px;
  text-align: center;
  width: fit-content;
}

.additionPage{
/*background-color: #D7E9FD; /*#FFFBEF;*/
/*border: 3px solid #B19170;*/
font-family: Krub;
color: #FEFEFE;
font-size: 25px;
width: 20%;
/*border-radius: 100px;
/*align: center;*/
margin: auto;
}

.additionTop{
width: fit-content;
margin: auto;
}

.additionInfo{
background-color: #F7C8D2;
border: 5px solid #E2DBC9;
font-family: Krub;
color: #000000;
font-size: 25px;
width: 50%;
border-radius: 25px;
/*align: center;*/
margin: auto;

}

.additionEx{
background-color: #F7C8D2;
border: 5px solid #E2DBC9;
font-family: Krub;
color: #000000;
font-size: 25px;
width: 50%;
border-radius: 25px;
/*align: center;*/
margin: auto;

}

.button{
  background-color: #F7C8D2;
  font-family: Krub;
  color: #000000;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px #E2DBC9;
  width: 300px;
height: 62px;
}

.button2{
  background-color: #F7C8D2;
  font-family: Krub;
  color: #000000;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px #E2DBC9;
  width: 300px;
height: 62px;
}

.button3{
  background-color: #F7C8D2;
  font-family: Krub;
  color: #000000;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px #E2DBC9;
  width: 300px;
height: 62px;
}

.button4{
  background-color: #F7C8D2;
  font-family: Krub;
  color: #000000;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 2px #E2DBC9;
  width: 300px;
height: 62px;
}