<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/decimals.css">
    <title>Decimals</title>
</head>
<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>

<!--Title of Page-->
<div class = "decimalsTop"> <h1 align = "center"><b>Decimals</b></h1> </div>
    <div align = "center" class ="decimalsPage">
    </div>

<!--Rest of Page-->
    <div align="center" class ="decimalsInfo">
        <p><b>Decimal Places</b>1.364
        <b>1 - ones place</b>
        <b>3 - tenths place</b>
        <b>6 - hundredths place</b>
        <b>4 - thousandths place</b></p>
    </div>

</body>
</html>