<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fractions.css">
    <title>Fractions</title>
</head>
<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>

<!--Title of Page-->
    <div class = "fractionTop"> <h1 align = "center"><b>Fractions</b></h1> </div>
    <div align = "center" class ="fractionPage">
    </div>

<!--Rest of Page-->
    <div align="left" class ="fractionsInfo">
        <p><b>What are Fractions?</b>A fraction is a part of a whole number
        <b>It is represented with this sumbol: "/"</b>
        <b>It splits a number up into equal parts</b></p>
    </div>

    <div align="right" class ="fractionsEx">
        <p><b>Example</b>
        <b>A farmer has a pizza cut up in 8 slices.</b>
        <b>If he has 8 cows on his farm, what is the</b>
        <b>fraction of how many slices a cow gets?</b></p>
    </div>

<!-- Buttons for the answers-->
   <div align="right">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <input type="submit" class="button" value="1/8">
          </div>
          <div class="container pt-5">
            <input type="submit" class="button2" value="1/2">
          </div>
        </div>
        <div class="col">
          <div class="container pt-5">
            <input type="submit" class="button3" value="1/4">
          </div>
          <div class="container pt-5">
            <input type="submit" class="button4" value="1/3">
          </div>
        </div>
      </div>
    </div>

</body>
</html>