<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/grade.css">
    <title>Grade Level</title>
</head>
<body>
<!--Logo-->
    <div align="center" class = "logo">
        <a href="/">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!--Nav bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/subjects">Subject</a></li>
        <li><a class="active" href="grade.html">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>
<!--Page-->
<div class = "gradeTop"> <h1 align = "center"><b>Pick a Grade Level:</b></h1> </div>
    <div align = "center" class ="gradePage">
    </div>

<!--Buttons for the grade levels-->
    <div align="center">
        <input type="submit" class="button" value="First Grade">
    </div>

    <div align="center">
        <input type="submit" class="button2" value="Second Grade">
    </div>

    <div align="center">
        <input type="submit" class="button3" value="Third Grade">
    </div>

    <div align="center">
        <input type="submit" class="button4" value="Fourth Grade">
    </div>

</body>
</html>
