<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/graphs.css">
    <title>Graphs Charts Tables</title>
</head>
<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>

<!--Title of Page-->
<div class = "graphsTop"> <h1 align = "center"><b>Graphs, Charts, and Tables</b></h1> </div>
    <div align = "center" class ="graphsPage">
    </div>

<!--Rest of Page-->
    <div align="center" class ="moneyInfo">
        <p><b>What are Graphs, Charts and Tables? </b>Graphs are drawings that represent info
        <b>Types of graphs: lines, bar, pie charts, etc.</b>
        <b>Graphs are used to compare information</b>
        <b>Tables are written ways to express data</b></p>
    </div>


</body>
</html>