<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <title>Cowculator</title>
</head>

<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>

<!--Homepage-->
    <div align = "center" class = "index">
        <img class = "squareFrame" src = "images/cow homescreen.jpg" width = "250">
    </div>
    <h1>A new way to learn math</h1>
</body>
</html>
