<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/money.css">
    <title>Counting Money</title>
</head>
<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>

<!--Title of Page-->
<div class = "moneyTop"> <h1 align = "center"><b>How to Count Money</b></h1> </div>
    <div align = "center" class ="moneyPage">
    </div>

<!--Rest of Page-->
    <div align="center" class ="moneyInfo">
        <p><b>Coins</b>A penny is worth 1 cent
        <b>A nickel is worth 5 cents</b>
        <b>A dime is worth 10 cents</b>
        <b>A quarter is worth 25 cents</b></p>
    </div>

</body>
</html>