<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cowculator</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/subjects.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body style="background-color: #C0E1F8;">
    <div align="center" class = "logo">
        <a href="index.html">
          <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
      <ul class = "topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
      </ul>
    </div>
    <div class="container text-center">
      <div class="row text-center">
        <h1>Pick A Subject:</h1>
      </div>
      <div class="row">
        <div class="col text-center">
          <div class="box ">
            <a href="/addition" style="text-decoration:none; color: black;">Addition</a>
          </div>
          <br>
          <div class="box">
            <p>Multiplication</p>
          </div>
          <br>
          <div class="box">
            <p>Fractions</p>
          </div>
          <br>
          <div class="box">
            <p>Counting Money</p>
          </div>
        </div>
        <div class="col">
          <div class="box">
            <p>Subtraction</p>
          </div>
          <br>
          <div class="box">
            <p>Division</p>
          </div>
          <br>
          <div class="box">
            <p>Decimals</p>
          </div>
          <br>
          <div class="box">
            <p>Graphs, Charts, Tables</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
