<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/subtraction.css">
    <title>Subtraction</title>
</head>
<body>
<!-- Logo-->
    <div align="center" class = "logo">
        <a href="index.html">
        <img src = "/images/logo.png" width = "700">
        </a>
    </div>
<!-- Nav Bar-->
    <div align = "center">
    <ul class = "topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/subjects">Subject</a></li>
        <li><a href="/grade">Grade Level</a></li>
        <li><a >Profile</a></li>
        <li><a >Calculator</li>
    </ul>
    </div>
<!--Title of Page-->
<div class = "subtractionTop"> <h1 align = "center"><b>Subtraction</b></h1> </div>
    <div align = "center" class ="subtractionPage">
    </div>

<!--Rest of Page-->
    <div align="left" class ="subtractionInfo">
        <p><b>What is Subtraction?</b>Subtraction means to take away from a group
        <b>It is represented with this sumbol: "-"</b>
        <b>When subtracting, the group of number should be less</b></p>
    </div>

    <div align="right" class ="subtractionEx">
        <p><b>Example</b>
        <b>A farmer has 5 cows living on his farm.</b>
        <b>Afte dinner, he has 2 cows left. How</b>
        <b>many cows are not on his farm anymore?</b></p>
    </div>
<!-- Buttons for the answers-->
   <div align="right">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <input type="submit" class="button" value="7">
          </div>
          <div class="container pt-5">
            <input type="submit" class="button2" value="1">
          </div>
        </div>
        <div class="col">
          <div class="container pt-5">
            <input type="submit" class="button3" value="3">
          </div>
          <div class="container pt-5">
            <input type="submit" class="button4" value="6">
          </div>
        </div>
      </div>
    </div>


</body>
</html>